body { 
    margin: 0; 
    font-family: "Hanken Grotesk", sans-serif; 
    background-color: #fff;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* vertical center alignment */
    position: relative; 
    width: 100%;
    height: auto;
}


/* ----------------- Sticky Header and mockup Video Styles ----------------- */
div#logo-sticky {
    position: fixed; /* Sticks to the viewport */
    width: 100%;
    /* Ensure no padding pushes the width beyond 100% */
    box-sizing: border-box; 
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: transparent; 
    /* This allows the logo to interact with the background colors/images */
    mix-blend-mode: difference; 
    /* Prevents the sticky header from catching clicks if necessary */
    pointer-events: none; 
    z-index: 999;
}

div#logo-sticky img {
    max-width: 100%;
    height: auto;
}

video#mockupVd1 {
    width: 100%;
    height: auto; 
    display: block;
    z-index: 998; /* Ensure the video is behind the sticky header */
}

/* ----------------- Text Styles ----------------- */
.frame-text-h2-mv {
    /* position: absolute;     */
    position: relative;    
    margin: 0;             
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 100%;
    color: #FFFFFF;
    z-index: 998;          /* Higher layer to stay on top */
    pointer-events: none;  /* Optional: allows clicks to pass through to the image */
    transition: transform 0.1s ease; 
}

.frame-text-h3 {
    position: absolute;    
    margin: 0;             
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 100%;
    color: #FFFFFF;
    z-index: 998;       
    pointer-events: none; 
}

.frame-text-h4 {
    position: absolute;    
    margin: 0;             
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    z-index: 998;       
    pointer-events: none; 
}

div.frame-desc {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 14px;
    position: relative;
    width: 100%;
    max-width: 715px;
    height: auto;
    transition: all 0.3s ease;
}

.text-h5 {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.text-p {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}


/* ----------------- Frame 10 Styles ----------------- */
div#frame10 {
    position: relative; /* Essential: Acts as the anchor for the children */
    width: 100%;        /* Full width of the container */
    height: 572px;      
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 100px;
    z-index: 997; 
}

.frame10-img {
    position: absolute; 
    width: 566px;            
    height: 572px;        
    z-index: 997;           
}


/* ----------------- Frame 11 Styles ----------------- */
div#frame11 {
    position: relative;
    width: 100%;        
    height: 759px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 100px;
    z-index: 997; 
}

#bestSellVd {
    position: absolute; 
    width: 1200px;            
    height: 100%;
    object-fit: fill; /* forces to fill entire area and not maintain aspect ratio */        
    z-index: 997;
}

/* ----------------- Frame 40 Styles ----------------- */
#frame40 {
    position: relative;
    width: 100%;
    min-height: 990px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 100px;
    z-index: 994; 
}

.frame40-content {
    display: flex;
    flex-wrap: wrap;       /* Allows items to sit side-by-side */
    justify-content: center;
    row-gap: 60px;
    column-gap: 68px;
    width: 95%;            /* Scales with the screen */
    max-width: 978px;      /* Stops it from getting too big */
    height: auto;          /* Let content define height for zoom safety */
    z-index: 995;
}

#collection-01 {
    flex: 0 0 100%;        /* Forces it to take the full width */
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;           /* Fills the container */
    max-width: 978px;
    height: 475px;
}

#collection-02, 
#collection-03 {
    /* (100% - gap) / 2 = approx 46.5% */
    flex: 0 1 calc(50% - 34px);  /* 34 from column-gap: 68px/2 */
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 455px;
    height: 455px;
}

#collection-video-hover,
.collection-img-hover {
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0;
    transition: opacity 1.2s ease, transform 1.2s ease;
}


#collection-01:hover #collection-video-hover,
#collection-02:hover .collection-img-hover,
#collection-03:hover .collection-img-hover {
    opacity: 1;
    transition: opacity 1.2s ease, transform 1.2s ease;
}


/* --------------------- Auto Scrolling Text --------------------- */
div#auto-scroll-txt {
    width: 100%;
    height: 85px;
    background-color: #000000; 
    margin-top: 100px;
    z-index: 997; 
    overflow: hidden;
}

.mv {
    display: flex;             
    justify-content: center;   
    align-items: center;   
    white-space: nowrap; /* Keeps text on one line */
    animation: scroll-left 10s linear infinite;
}

.mv-txt {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}

.mv-arrow {
    width: 85px;
    height: 85px;
    margin: 0px 95px;
    color: #ffffff;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%); /* Start position */
  }
  100% {
    transform: translateX(-50%); /* Moves text left completely */
  }
}

/* ----------------- Frame 13 Styles ----------------- */
div#frame13 {
    position: relative;
    width: 100%;        
    height: 96px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 140px;
    z-index: 994; 
}

.addvt-content {
    width: 1092px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.addvt-desc {
    width: 280px;
}

.addvt-desc h5.text-h5 {
    text-align: left;
}

.addvt-desc p.text-p {
    margin-top: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}



/* ----------------- FAQs Styles ----------------- */
div#faqs {
position: relative;
    width: 100%;        
    height: 645px; 
    background-color: #000000; 
    display: flex;
    flex-direction: column;    
    align-items: center;       
    justify-content: flex-start;        
    margin-top: 140px;
    z-index: 994;
}

#faqs h4.frame-text-h4 {
    margin-top: 100px;
}

#faqs p.text-p {
    margin-top: 156px;
    color: #ffffff;
}

#faqs div#faqs-btn {
    height: 33px; 
    margin-top: 36px;
}

button.btn-mockup {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 0px 8px;
    height: 33px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
}

button.btn-mockup.active {
    color: #000000;
    background: #FFFFFF;
}
#faqs-list {
    display: flex;
    flex-direction: column; 
    width: 1092px;
    height: 204px;
    margin-top: 100px;
}

#faqs-list2 {
    display: none;
    flex-direction: column; 
    width: 1092px;
    height: 204px;
    margin-top: 100px;
}

#faqs-list h5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

#faqs-list2 h5 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.faqs-list-box {
    /* height: 42px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faqs-list-box p.text-p {
    width: 100%;
    margin-top: 14px !important;
    text-align: left;
    color: rgba(255, 255, 255, 0.6) !important;
    display: none;
}

.faqs-list-box h5.text-h5, .faqs-list-icon {
    cursor: pointer !important;
    user-select: none !important;
}
hr.faqs-list-hr { 
    width: 100%; 
    margin-top: 24px; 
    border: 0; 
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
}



/* --------------------- Responsiveness --------------------- */

@media screen and (min-width: 1024px) {

    div.frame-desc:hover {
        opacity: 0.5;
        transition: all 0.3s ease;
    }

}


@media screen and (max-width: 768px) {
    
    video#mockupVd1 {
        object-fit: cover;
        height: 713px; 
        object-position: center; /* Ensures the center of the video is visible */
    }

    div.frame-desc {
        width: 342px;
    }

    .frame-text-h {
        font-size: 40px;
    }

    .frame-text-h-static-1 {
        font-size: 30px;
    }

    .frame-text-h-static-2 {
        font-size: 18px;
    }

    .text-p-h {
        font-size: 14px;
        line-height: 16px;
    }

    .text-p {
        font-size: 12px;
        line-height: 16px;
    }

    div#frame10 {
        height: 286px;
    }
    
    .frame10-img {
        width: 282px;            
        height: 286px;                 
    }

    div#frame11 {
        height: 219px;
    }
    
    #bestSellVd {
        width: 346px;            
        height: 100%;        
    }

    #frame40 {
        min-height: auto; 
        width: 100%;
        overflow: hidden;
    }

    #frame40 {
        min-height: auto; 
    }

    .frame40-content {
        width: 346px; 
        max-width: 100%; 
        row-gap: 24px;
        column-gap: 24px;
        justify-content: center;
    }

    #collection-01 {
        flex: 0 0 346px;
        width: 346px;
        height: 167px; 
    }

    #collection-02, 
    #collection-03 {
        flex: 0 0 161px; 
        width: 161px;
        height: 161px;

    }

    /* Forces the images/video to stay INSIDE the boxes */
    #collection-01 img, #collection-01 video,
    #collection-02 img, #collection-03 img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        position: absolute;
        top: 0;
        left: 0;
    }

    .mv-txt {
        font-size: 24px;
    }

    .mv-arrow {
        margin: 0px 20px;
    }

    div#frame13 {
        height: 384px;
        margin-top: 100px;
    }

    .addvt-content {
        width: 346px;
        flex-direction: column;
    }


}